
.bv-statblock {
    font-family: monospace;
    position: relative
}

input[type=checkbox].bv-slot {
    vertical-align: middle;
    top: -0.1em;
}

.bv-smaller {
    font-size: smaller;
}

.bv-larger {
    font-size: larger;
    text-transform: uppercase;
}

.bv-spreadout {
    display: flex;
    justify-content: space-between;
}

.bv-muted {
    color: var(--text-muted)
}

.bv-thresholds {
    text-align: center;
    margin-bottom: 0.2em !important;
}

.bv-rollable {
    cursor: pointer;
    font-weight: bold;
}

.bv-rollable:hover {
    color: rgb(var(--callout-color))
}

.bv-statblock hr {
    margin: 0
}

.bv-statblock ul, .bv-statblock ol {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.bv-padded {
    padding-right: 2em;
}

.bv-bottom-corner {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0.5em;
}

.bv-top-corner {
    position: absolute;
    top: var(--size-2-2);
    right: var(--size-2-2);
}

.bv-lower-1 {
    top: 30px;
}

.bv-lower-2 {
    top: 56px;
}

.bv-invisible {
    display: none;
}

.bv-feature p {
    margin: 0 !important;
}

.block-language-daggerheart + .edit-block-button {
    opacity: var(--icon-opacity) !important;
}

.bv-library {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
}

.bv-library-item {
    margin: 0.5em 0.5em !important;
    display: flex;
    flex-direction: column;
}

.bv-source {
    text-align: right;
    color: var(--text-muted);
    margin-top: auto;
}

.bv-inactive {
    color: var(--text-faint) !important;
}

.bv-tier-button {
    font-family: monospace;
    font-weight: bold;
}

.bv-fixed {
    position: sticky;
    top: 0;
    background: var(--background-primary);
    z-index: 999;
    padding: var(--size-4-3);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--size-4-2);
    flex-wrap: wrap;
}

.bv-fixed > select {
    flex-shrink: 1;
    min-width: 0;
}

.view-content:has(.bv-fixed) {
    padding-top: 0;
    scrollbar-gutter: stable;
}
